# Ignore Python cache 
__pycache__/

# Ignore Jupyter notebooks' checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore practice files
z_practice/

# Ignore some of the images
images/star.png
images/heart.png
src/images/star.png
src/images/heart.png

# Ignore the data FashionMNIST
data/FashionMNIST/
src/data/FashionMNIST/